.row-fluid
  .align-center.well
    #searchbox
      = form_tag search_index_path, method: :get, class: "form-inline" do |f|
        = text_field_tag :gred, params[:gred], class: "span1", placeholder: "F41"
        = select_tag :location, options_from_collection_for_select(Location.states.all, :id, :nama, params[:location]), include_blank: true
        = submit_tag "Buat Carian", class: "btn btn-primary"
