= f.collection_select :location_id, states, :id, :nama, { include_blank: true }, { class: "job_state_id", id: "job_state_id" }
= f.grouped_collection_select :location_id, states, :districts, :nama, :id, :nama, { include_blank: true }, {class: "job_location_id"}
/ To select state based on the district
= hidden_field_tag "state_val", state
= hidden_field_tag "location_val", location