= f.fields_for :next_jobs, next_job do |i|
  .control-group
    = label_tag nil, "Lokasi", class: "control-label"
    .controls
      = render 'location_fields', f: i, state: @job.next_jobs[index].get_state, location: @job.next_jobs[index].get_state
      = i.link_to_remove "Padam", class: "btn btn-danger"
