<h1>About</h1>

<p>&nbsp;</p>
<p>Asalamualaikum w.b.t</p>

<p>
  Aplikasi Bertukar dibina dengan satu tujuan utama iaitu untuk memudahkan carian bagi penjawat awam
  dalam mencari tempat kerja lain bagi proses pertukaran suka sama suka. Aplikasi ini cuba mengatasi
  beberapa kekurangan yang ada dalam laman web yang seumpama dengannya.
</p>
<p>
  Ingin dijelaskan di sini, laman web ini tidak mempunyai sebarang hubungan dengan pihak kerajaan. Ia cuma projek sampingan
  seorang penjawat awam yang mendapat ilham bila boring melihat iklan pertukaran suka sama suka
  diletakkan merata-rata :lol:
</p>
<p>
  Bagi mereka yang berminat dengan pengaturcaraan yang diguna dalam membangunkan aplikasi ini, boleh
  melihat kod aturcaranya di <a href="https://github.com/amree/bertukar/" target="_blank">Github</a>. Anda juga boleh melaporkan sebarang bug atau mencadangkan sebarang
  fungsi baru di sana. Walaubagaimanapun, tiada jaminan ianya akan diselesaikan dalam masa yang singkat
  kerana masa yang agak terhad (baca: bz bangat).
</p>
<p>
  Akhir kata, jika anda fikir aplikasi ini dapat membantu anda atau kenalan anda, sila sebarkan dan
  <a href="https://www.facebook.com/bertukar" target="_blank">like di Facebook</a>. Jika anda mempunyai
  sebarang persoalan, boleh menghubungi saya melalui email atau Twitter.
</p>
<p>
  Sekian, terima kasih.
</p>
<p>&nbsp;</p>
<p>
  Mohd Amree
  <br>
  <a href="mailto:aurorius@gmail.com">aurorius@gmail.com</a>
  <br>
  <a href="http://twitter.com/aurorius">http://twitter.com/aurorius</a>
</p>
