mysql: &mysql
  adapter: mysql2
  host: localhost
  username:
  password:

development:
  database: pertukaran_dev
  <<: *mysql

test:
  database: pertukaran_test
  <<: *mysql

production:
  database: pertukaran
  <<: *mysql
