mysql: &mysql
  adapter: mysql2
  host: localhost
  username:
  password:

development:
  database: bertukar_development
  <<: *mysql

test:
  database: bertukar_test
  <<: *mysql

production:
  database: bertukar
  <<: *mysql
