.page-header
  %h1.pull-left
    Kementerian
  .page-actions.pull-right
    .btn-group
      %button.btn.btn-primary
        Actions
      %button.btn.btn-primary.dropdown-toggle{ :"data-toggle" => "dropdown" }
        %span.caret
      %ul.dropdown-menu.pull-right
        %li
          = link_to "Kemaskini", edit_admin_ministry_path(@ministry)
        %li.divider
        %li
          = link_to "Padam", [:admin, @ministry], :data => { :confirm => 'Are you sure?' }, :method => :delete
  .clearfix

.row-fluid
  .span2.right
    %strong
      Nama:
  .span10
    = @ministry.nama
.row-fluid
  .span2.right
    %strong
      Aktif:
  .span10
    = @ministry.is_aktif.to_s.upcase
