body {
  margin-top: 60px;
}

.header {
  margin-bottom: 60px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

#searchbox > form {
  margin: 0;
}

.highlight {
  background-color: #ddd;
}

.page-actions {
  position: relative;
  top: 15px;
}

td.right {
  text-align: right;
}

.right {
  text-align: right;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Override Facebook comment box size */
.fb-comments, .fb-comments * {
  width:100% !important;
}

/* Header Link */
h3 a {
  color: #000;
}

h3 a:hover {
  text-decoration: none;
}