%ul.nav.nav-pills.pull-right
  %li.active
    = link_to "Blog", "http://pertukaran.tumblr.com/"
  %li
    = link_to "Daftar", new_user_registration_path
  %li
    = link_to "Login", new_user_session_path
