#rules.modal.hide.fade
  .modal-header
    %button.close{ type: "button", :"data-dismiss" => "modal", :"aria-hidden" => true }×
    %h3 Rules and Conditions

  .modal-body
    %p
      %ol
        %li Kami tidak akan bertanggungjawab di atas maklumat yang dipaparkan.
        %li Anda tidak akan menggunakan laman web ini untuk sebarang kegiatan yang menyalahi undang-undang Malaysia.
        %li Anda faham maklumat yang anda masukkan akan dipaparkan dalam laman web ini bagi membantu orang lain untuk menghubungi anda.
        %li Laman web ini tidak mempunyai hubungan rasmi dengan mana-mana jabatan kerajaan.
        %li Kami tidak akan menjual/berkongsi maklumat anda kepada mana-mana pihak tanpa kebenaran anda.

  .modal-footer
    %button.btn{ :"data-dismiss" => "modal", :"aria-hidden" => true } Close